<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>>@ViewData["Title"] - PetVet</title>
</head>
<body>
    <header>
        <nav class="total-top">
            <nav class="top-title">
                <h1 asp-area="" asp-controller="Home" asp-action="Index">PetVet</h1>
            </nav>
            <nav class="top-nav">
                <ul class="nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Agendamento">Agendamento</a></li>
                </ul>
            </nav>
        </nav>
    </header>
    <body>
        <div class="container limita-secao">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
    </body>
    <footer>
        <div class="footer-bar">
            <P>&copy;PetVet | Contato: +55 (11) 9 9999-9999</P>
        </div>
    </footer>
</body>
</html>