@{
    ViewData["Title"] = "PetVet";
}

<div>
    <section class="conteiner-1">
        <h2>Bem vindo ao site da Veterinária</h2>
        
        <img src="img/imagemvazia.png" alt="">
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error culpa est nobis totam sit temporibus eius quisquam, suscipit aliquid maiores? Corporis excepturi optio fugit aut tempora neque possimus voluptatibus ea!Lor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet sint omnis illo facere quidem iste voluptas repellat perspiciatis adipisci laudantium sed inventore quas maiores velit animi quaerat, fuga fugit molestiae! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, laboriosam quos, molestiae ullam qui fugiat aspernatur facere sequi perspiciatis officia sit id, blanditiis maxime at ipsam minima tempora exercitationem inventore.</p>
    </section>
</div>