@{
    ViewData["Title"] = "Serviços";
}


<h2>Servicos</h2>

<ul>
    <li>Serviço 1</li>
    <ul>
        <li>Descrição</li>
        <li>Valor</li>
    </ul>
</ul>

<ul>
    <li>Serviço 2</li>
    <ul>
        <li>Descrição</li>
        <li>Valor</li>
    </ul>
</ul>

<ul>
    <li>Serviço 3</li>
    <ul>
        <li>Descrição</li>
        <li>Valor</li>
    </ul>
</ul>