@model Pedido

@{
    ViewData["Title"] = "Confirmação";
}
<h1>@ViewData["Title"]De Cadastro</h1>

<p>
    <a asp-action="Registro">Adicionar outro Pedido</a>
</p>

<p>
    <a asp-action="Lista">Ver Lista</a>
</p>